#富途牛牛 
^https:\/\/api\.futunn\.com\/ad\/search\? url reject-dict
#我的横幅广告
^https:\/\/api\.futunn\.com\/v2\/optimus\/my-homepage-config url reject-dict
#账户和交易横幅广告
^https:\/\/api\.futunn\.com\/v2\/config\/promote-config url reject-dict

hostname = api.futunn.com
