#富途牛牛 
^https:\/\/api\.futunn\.com\/ad\/search\? url reject-dict
#我的横幅广告
^https:\/\/api\.futunn\.com\/v2\/optimus\/my-homepage-config url reject-dict
#账户和交易横幅广告
^https:\/\/api\.futunn\.com\/v2\/config\/promote-config url reject-dict

# NineBot
https://api-jhcx-v6-bj.ninebot.com/sys/privacy/get-last-version url reject-dict
https://api-jhcx-v6-bj.ninebot.com/circle/ad/get-open-screen-ads url reject-dict

hostname =api.futunn.com, api-jhcx-v6-bj.ninebot.com
