# Missav(missav.com)  
^https?:\/\/missav\.com\/.*page.* url script-response-body https://raw.githubusercontent.com/randyho/Network_Tools/main/scripts/other.js

# NineBot
https://api-jhcx-v6-bj.ninebot.com/sys/privacy/get-last-version url reject-dict
https://api-jhcx-v6-bj.ninebot.com/circle/ad/get-open-screen-ads url reject-dict
hostname = missav.com, api-jhcx-v6-bj.ninebot.com
