# Missav(missav.com)  
https://creative.live.missav.com/widgets/Spot/lib.js url reject
https://missav.com/.*page.* url script-response-body https://raw.githubusercontent.com/randyho/Network_Tools/main/scripts/other.js
https://missav.com/(?!(.*(api|login|cdn-cgi|(\.(js|css|jpg|jpeg|png|webp|gif|zip|woff|woff2|m3u8|mp4|mov|m4v|avi|mkv|flv|rmvb|wmv|rm|asf|asx|mp3|json|ico|otf|ttf))))).* url script-response-body https://limbopro.com/Adguard/Adblock4limbo.js

# NineBot
https://api-jhcx-v6-bj.ninebot.com/sys/privacy/get-last-version url reject-dict
https://api-jhcx-v6-bj.ninebot.com/circle/ad/get-open-screen-ads url reject-dict
hostname = missav.com, api-jhcx-v6-bj.ninebot.com
